python-dotenv==1.0.0
streamlit==1.18.1
transformers
transformers[sentencepiece]
nltk
datasets
tensorflow
seaborn
altair<5
scipy
python-box==6.0.2
folium
geopy
streamlit_folium
py7zr
pandas
tqdm
PyYAML
matplotlib
notebook
ensure==1.0.2
-e .